@import '../../assets/variables.scss';

.header-wrapper {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px 25px 50px;

  &.transparent {
    background-color: transparent;
  }

  img {
    cursor: pointer;
  }

  .btn-default {
    color: $secondary-color;
    font-size: 16px;
    font-weight: 550;
  }
  
  .btn-default:hover {
    color:  $secondary-color;
  }
}